[Unit]
Description=Musaic server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/opt/musaic-server/current/server/.env
Environment=PATH=/root/.bun/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
WorkingDirectory=/opt/musaic-server/current/server
ExecStart=/root/.bun/bin/bun run start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
